.desktop-1-BCQ {
  background-color: #ffffff;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .rectangle-9-YhA {
    border: dashed 0.2rem #010101;
    border-radius: 2.9rem;
    box-sizing: border-box;
    height: 102.1rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 144rem;
  }
  .rectangle-10-DKS {
    background-color: #d9d9d9;
    height: 99.8rem;
    left: 1.3rem;
    position: absolute;
    top: 1.2rem;
    width: 35.6rem;
  }
  .rectangle-11-gip {
    background-color: #d9d9d9;
    height: 99.8rem;
    left: 107rem;
    position: absolute;
    top: 1.2rem;
    width: 35.6rem;
  }
  .lorem-ipsum-PdE {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3rem;
    font-weight: 400;
    height: 3.7rem;
    left: 113.8rem;
    line-height: 1.2125;
    position: absolute;
    top: 21.8rem;
    white-space: nowrap;
    width: 18.3rem;
  }
  .nav-1uW {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 6rem;
    font-weight: 400;
    height: 7.3rem;
    left: 13.5rem;
    line-height: 1.2125;
    position: absolute;
    top: 8rem;
    white-space: nowrap;
    width: 11.2rem;
  }
  .main-content-V3z {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 6rem;
    font-weight: 400;
    height: 7.3rem;
    left: 41.9rem;
    line-height: 1.2125;
    position: absolute;
    top: 8rem;
    white-space: nowrap;
    width: 37.2rem;
  }
  .sidebar-a5S {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 6rem;
    font-weight: 400;
    height: 7.3rem;
    left: 113.8rem;
    line-height: 1.2125;
    position: absolute;
    top: 8rem;
    white-space: nowrap;
    width: 21.9rem;
  }
  .home-about-clients-contact-us-Evg {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3rem;
    font-weight: 400;
    height: 14.6rem;
    left: 13.5rem;
    line-height: 1.2125;
    position: absolute;
    top: 21.8rem;
    width: 15.5rem;
  }
  .im-first-in-the-source-order-uX2 {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3rem;
    font-weight: 700;
    height: 3.7rem;
    left: 41.9rem;
    line-height: 1.2125;
    position: absolute;
    top: 21.8rem;
    white-space: nowrap;
    width: 39.3rem;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-88t {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3rem;
    font-weight: 400;
    height: 47.3rem;
    left: 41.9rem;
    line-height: 1.2125;
    position: absolute;
    top: 33.3rem;
    width: 58.1rem;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-7f2 {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3rem;
    font-weight: 400;
    height: 54.6rem;
    left: 110.9rem;
    line-height: 1.2125;
    position: absolute;
    top: 33.3rem;
    width: 30.3rem;
  }
  .rectangle-12-sXi {
    background-color: #d9d9d9;
    height: 7.4rem;
    left: 42.6rem;
    position: absolute;
    top: 90.3rem;
    width: 57.1rem;
  }
  .copyright-2017-xp4 {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3rem;
    font-weight: 400;
    height: 3.7rem;
    left: 61.2rem;
    line-height: 1.2125;
    position: absolute;
    top: 92.2rem;
    white-space: nowrap;
    width: 21.6rem;
  }
}
