nav {
  border-bottom: 1px solid black;
}

.code {
  list-style-type: none;
  padding-left: 0;
}

.html {
  display: inline-block;
}

.html a::after {
  display: inline-block;
  color: #000;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}
