.desktop-1-w3z {
  background-color: #ffffff;
  height: 119.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .auto-group-whwa-KaL {
    background-color: #ddcd96;
    box-sizing: border-box;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    height: 7.8rem;
    left: 0;
    line-height: 1.2125;
    padding: 2.7rem 3.8rem 2.6rem 3.8rem;
    position: absolute;
    text-decoration-line: underline;
    top: 0;
    white-space: nowrap;
    width: 144rem;
  }
  .auto-group-3wu2-pxL {
    background-color: #edb3ef;
    box-sizing: border-box;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3rem;
    font-weight: 400;
    height: 7.8rem;
    left: 0;
    line-height: 1.2125;
    padding: 2.1rem 3.8rem 2rem 3.8rem;
    position: absolute;
    top: 7.8rem;
    white-space: nowrap;
    width: 144rem;
  }
  .auto-group-3ppv-RBS {
    background-color: #edb3ef;
    box-sizing: border-box;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3rem;
    font-weight: 400;
    height: 7.8rem;
    left: 0;
    line-height: 1.2125;
    padding: 2.1rem 3.8rem 2rem 3.8rem;
    position: absolute;
    top: 41.5rem;
    white-space: nowrap;
    width: 144rem;
  }
  .auto-group-cwzl-R4x {
    background-color: #edb3ef;
    box-sizing: border-box;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3rem;
    font-weight: 400;
    height: 7.8rem;
    left: 0;
    line-height: 1.2125;
    padding: 2.1rem 2.6rem 2rem 2.6rem;
    position: absolute;
    top: 75.2rem;
    white-space: nowrap;
    width: 144rem;
  }
  .one-two-three-2Ke {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    height: 2.5rem;
    left: 2.6rem;
    line-height: 1.2125;
    position: absolute;
    text-decoration-line: underline;
    top: 113.1rem;
    white-space: nowrap;
    width: 14.5rem;
  }
}
