.desktop-1-2Zi {
  background-color: #ffffff;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .rectangle-9-nxC {
    border: dashed 0.2rem #010101;
    border-radius: 2.9rem;
    box-sizing: border-box;
    height: 102.1rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 144rem;
  }
  .rectangle-10-qhW {
    background-color: #f5f5f5;
    border: solid 0.8rem #e8d6eb;
    box-sizing: border-box;
    height: 51.211rem;
    left: 1.6rem;
    position: absolute;
    top: 0.8rem;
    width: 49.4448rem;
  }
  .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-7uv {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 1.2rem;
    font-weight: 400;
    height: 35.2rem;
    left: 16.1rem;
    line-height: 1.2102272511;
    position: absolute;
    top: 10.2rem;
    width: 20.4rem;

    .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-7uv-sub-0 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-7uv-sub-1 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-7uv-sub-2 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-7uv-sub-3 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
  .rectangle-12-VDe {
    background-color: #f5f5f5;
    border: solid 0.8rem #e8d6eb;
    box-sizing: border-box;
    height: 101.0357rem;
    left: 50.6259rem;
    position: absolute;
    top: 0.5741rem;
    width: 42.9791rem;
  }
  .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-ZzC {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 1.2rem;
    font-weight: 400;
    height: 35.2rem;
    left: 63.4rem;
    line-height: 1.2102272511;
    position: absolute;
    top: 10.2rem;
    width: 21rem;

    .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-ZzC-sub-0 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-ZzC-sub-1 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-ZzC-sub-2 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-ZzC-sub-3 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
  .rectangle-11-5d6 {
    background-color: #f5f5f5;
    border: solid 0.8rem #e8d6eb;
    box-sizing: border-box;
    height: 51.2087rem;
    left: 93.53rem;
    position: absolute;
    top: 50.6rem;
    width: 49.194rem;
  }
  .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-NcC {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 1.2rem;
    font-weight: 400;
    height: 35.2rem;
    left: 109.5rem;
    line-height: 1.2102272511;
    position: absolute;
    top: 57.7rem;
    width: 20.4rem;

    .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-NcC-sub-0 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-NcC-sub-1 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-NcC-sub-2 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .lorem-ipsum-dolor-lorem-ipsum-dolor-sit-amen-consectetur-adipiscing-ellit-lure-illo-atque-incidunt-est-doloremque-quos-praesentium-provident-quis-distinctio-NcC-sub-3 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
}
