.desktop-1-zwN {
  align-items: flex-start;
  background-color: #ffffff;
  border: dashed 0.2rem #010101;
  border-radius: 2.9rem;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  padding: 11.3rem 1.4rem 1.1rem 1.3rem;
  position: relative;
  width: 100%;

  .auto-group-bdrw-7uW {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 116.6rem;
    margin-right: 5rem;
    width: 35.6rem;

    .site-title-NcU {
      color: #3a78d4;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.2125;
      margin: 0rem 0rem 9.5rem 4.2rem;
      text-decoration-line: underline;
      white-space: nowrap;
    }
    .auto-group-ezcg-LSp {
      align-items: center;
      background-color: #d9d9d9;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 6.8rem 7.9rem 64.6rem 12.2rem;
      width: 100%;

      .nav-pct {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 400;
        line-height: 1.2125;
        margin: 0rem 4.3rem 6.5rem 0rem;
        white-space: nowrap;
      }
      .home-about-clients-contact-us-5Yp {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        max-width: 15.5rem;
      }
    }
  }
  .auto-group-dssa-Xvc {
    flex-shrink: 0;
    margin: 1rem 3.6rem 0rem 0rem;
    width: 58.1rem;

    .auto-group-jpuy-PT2 {
      align-items: flex-start;
      display: flex;
      margin: 0rem 0rem 17.6rem 28rem;

      .item-1-Gmi {
        color: #3a78d4;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        margin: 0.1rem 3.35rem 0rem 0rem;
        text-decoration-line: underline;
        white-space: nowrap;
      }
      .line-1-8Z2 {
        background-color: #000000;
        flex-shrink: 0;
        height: 0.1rem;
        margin: 1.099rem 3.35rem 0rem 0rem;
        width: 0.0004rem;
      }
      .item-2-1Mv {
        color: #3a78d4;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        text-decoration-line: underline;
        white-space: nowrap;
      }
    }
    .main-content-in8 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.2125;
      margin-bottom: 6.5rem;
      white-space: nowrap;
    }
    .im-first-in-the-source-order-qLx {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2125;
      margin-bottom: 7.8rem;
      white-space: nowrap;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-7JU {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2125;
      margin-bottom: 9.7rem;
      max-width: 58.1rem;
    }
    .auto-group-3oyg-yEC {
      align-items: center;
      background-color: #d9d9d9;
      color: #000000;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 400;
      height: 7.4rem;
      justify-content: center;
      line-height: 1.2125;
      margin: 0rem 0.3rem 0rem 0.7rem;
      white-space: nowrap;
      width: calc(100% - 1rem);
    }
  }
  .line-2-CMr {
    background-color: #000000;
    flex-shrink: 0;
    height: 0.1rem;
    margin: 2.1rem 3.3rem 0rem 0rem;
    width: 0.0004rem;
  }
  .auto-group-utwl-5gY {
    flex-shrink: 0;
    margin-top: 1.1rem;
    width: 35.7rem;

    .auto-group-qr5n-CWG {
      align-items: center;
      display: flex;
      height: 4.9rem;
      margin: 0rem 4.6rem 10.8rem 0rem;
      width: calc(100% - 4.6rem);

      .item-3-hC8 {
        color: #3a78d4;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        text-decoration-line: underline;
        white-space: nowrap;
      }
      .auto-group-x5w2-pGk {
        align-items: flex-start;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        padding-left: 3.7502rem;

        .line-3-Jxc {
          background-color: #000000;
          flex-shrink: 0;
          height: 0.1rem;
          margin: 1.001rem 3.349rem 0rem 0rem;
          width: 0.0004rem;
        }
        .item-4-16L {
          color: #3a78d4;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.2125;
          text-decoration-line: underline;
          white-space: nowrap;
        }
      }
    }
    .auto-group-unfe-K72 {
      align-items: center;
      background-color: #d9d9d9;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      margin-left: 0.1rem;
      padding: 6.8rem 1.4rem 13.1rem 3.9rem;
      width: 35.6rem;

      .sidebar-zU4 {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 400;
        line-height: 1.2125;
        margin: 0rem 2.6rem 6.5rem 0rem;
        white-space: nowrap;
      }
      .lorem-ipsum-Uu2 {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        margin: 0rem 6.2rem 7.8rem 0rem;
        white-space: nowrap;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-A1A {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        max-width: 30.3rem;
      }
    }
  }
}
