.desktop-1-p7W {
  background-color: #ffffff;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .rectangle-1-zgC {
    background-color: #e5aee9;
    height: 25.7rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 29rem;
  }
  .rectangle-3-BPJ {
    background-color: #e5aee9;
    height: 25.7rem;
    left: 21.9rem;
    position: absolute;
    top: 22.4rem;
    width: 29rem;
  }
  .rectangle-2-fpG {
    background-color: #d451e0;
    height: 25.7rem;
    left: 10.3rem;
    position: absolute;
    top: 9.5rem;
    width: 29rem;
  }
  .rectangle-4-nP6 {
    background-color: #d451e0;
    height: 25.7rem;
    left: 39.3rem;
    position: absolute;
    top: 40.8rem;
    width: 29rem;
  }
}
